[Main]

# The host of the Datadog intake server to send Agent data to
{% if datadog_config.url is undefined -%}
dd_url: {{ datadog_url|default('https://app.datadoghq.com') }}
{% endif %}

{% if datadog_config.api_key is undefined -%}
api_key: {{ datadog_api_key|default('<api key not set>') }}
{% endif %}

{% for key, value in datadog_config.items() -%}
{{ key }}: {{ value}}
{% endfor %}

{% if datadog_config_ex is defined -%}
{% for section, config in datadog_config_ex.items() %}
[{{ section }}]
{% for key, value in config.items() -%}
{{ key }}: {{ value }}
{% endfor %}
{% endfor %}
{% endif %}
